*{
    margin: 0;
    font-family: 'Anek Telugu', sans-serif;
    font-size: 28px;
}

body{
    background-color: #F8F9FA;
}

.h-line{
    height: 2px;
    border-bottom: 1px dashed lightgrey;
    margin: 0 5px 5px 5px;
}

h1{
    margin: 5px 15px 0 15px;
    font-size: 38px;
    color: grey;
    text-align: center;
    border-bottom: 1px lightgrey dashed;
}


.top-nav{
    height: 38px;
    background-color: #2d3238;
}

.top-nav a{
    margin-left:5px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    margin: 5px 0 0 0;
    justify-content: center;
}

.container .field{
    margin: 2px 15px;
}


.special input{
    vertical-align: top;
    position: relative;

    width: 25px;
    height: 25px;
    margin: 3px 6px;
}

/* DEBUG */

.generate-btns{
    margin: 3px auto;
    text-align: center;
}

.left-side button{
    margin: 3px auto;
    width: 210px;
}


.randomizer{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 10px;
}

.random{
    position: relative;
    vertical-align: top;
    top: 8px;
    width: 25px;
    height: 25px;
    margin-right: 20px;
}

.randomizer h4{
    vertical-align: bottom;
    position: relative;
    top:2px;
}

.randomizer input{
    margin-left: 5px;
}

.column-area .h-line{
    margin-top: 4px;
}


.right-side{
    display: inline-block;
    margin-left: 25px;
}

.left-side .table-area{
    text-align: center;
    margin: 5px 5px;
}


.right-side label {
    display:block;
}
.right-side textarea {
     display:block;
}

